body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #daecdd;
    margin: 0;
    padding: 50px;
    min-height: 160vh;
}
.search-container {
    position: absolute;
    top: 20px;
    left: 20px;
}
.search-input {
    padding: 10px;
    margin-right: 10px;
    width: 200px;
    display: none;
}
.search-icon {
    cursor: pointer;
    width: 30px;
    height: 30px;
}
.language-toggle {
    margin-left: 10px;
    cursor: pointer;
    color: #007BFF;
    text-decoration: underline;
}
.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.tab {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.tab:hover {
    background-color: #0056b3;
}
.links-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}
.link-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #007BFF;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}
.link-item img {
    max-width: 100px;
    margin-bottom: 10px;
}
.link-item:hover {
    text-decoration: underline;
    background-color: #eaeaea;
}
.section {
    margin-top: 40px;
    padding: 20px;
    border-top: 1px solid #ccc;
}
.quadrants {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
    justify-items: center;
}

.icon {
    position: absolute;
    top: 10px;
    left: 10px; 
    width: 40px;
    height: 40px; 
    background-image: url('caminho/do/seu/icon.png');
    background-size: cover;
}

.title-background {
    background-image: url('imagem-do-site/image-completa/floresta-2.jfif');
    background-size: cover;
    background-position: center;
    color: white; 
    padding: 100px;
    text-align: center;
}